.side_barr_edit {
    position: absolute;
    visibility: hidden;
}

.side_barr_edit.active {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    visibility:visible;
    position:absolute;
    left: 600px;
    background-color: #a9afc8;
}

#edit_bank_but {
    height: 30px;
    width: 130px;
    background-color: #8dc580;
    margin-left: 90px;
}