.inner_fotter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nulp {
    color: #939EA4;
}

.iot_but {
    background-color: #111B47;
    width: 100px;
    color: white;
}

.bottom_button {
    padding-top: 10px;
    display: flex;
    font-size:medium;
    justify-content: center
}

.footer_ul {
    display: flex;
    justify-content: center;
}

.foo_ul {
    padding-left: 0;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icons {
    display: flex;
    justify-content: center;
}

.icons_footer {
    size: 50px;
}