.hero {
    min-height: 633px;
    /* display: flex;
    flex-direction: column;
    justify-content:center; */
    background: url("../images/main_img.svg");
    background-position: top 150px left 55vw;
    background-size: 730px;
    background-repeat: no-repeat;
}

.hero_heder {
    max-width: 1080px;
    margin: 0 auto;
}

.header_hiden {
    visibility: hidden;
}

.header_hiden_name {
    visibility:hidden;
}

.burger {
    visibility:hidden;
    position:absolute;
}


.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header_name {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}

.elements {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right: 50px;
}

.element {
    margin-left: 20px;
    font-size: 12px;
}

.learn_but {
    width: 120px;
    font-size: 12px;
    background: #111B47;
    color: #fff;
    margin-right: 10px;
}


.buy_but {
    width: 120px;
    font-size: 12px;
    background: #FFD166;
}

.inner_text {
    max-width: 450px;
}

.first_text {
    padding-top: 100px;
}

.heading_text {
    color: #091133;
}

.two_but {
    display: flex;
    margin-top: 40px;
}



@media screen and (max-width: 893px) {
    .hero {
        background-image: url();
    }

    .first_text {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 515px) {
    .hero {
        min-height: 500px;
    }

    .hero_heder>.header_hiden {
        height: 70px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }

    .hero_heder.first_text {
        padding-top:  0px;
        padding-left: 0px;
        padding-right: 0px;
    }


    .first_img {
        width: 50%;
    }

    .learn_but {
        display: none;
    }

    .header_main {
        visibility: hidden;
        position:absolute;
    }

    .burger {
        visibility:visible;
        position: static;
        max-width: 40px;
    }

    .header_hiden_name {
        visibility: visible;
    }

    .inner_text {
        max-width: none;
        padding: 0 50px;
        padding-top: 30px;
    }

}