@import "./switcher.css";

@import "./edit.css";

body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #505f98;
}

hr {
    color: #CDD1D4;
    background-color: #CDD1D4;
    border: 0;
    height: 2px;
}

.counter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-between;
}

button {
    border: 0;
}

ul {
    padding-inline-start: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
    color: #505f98;
}

li {
    display: block;
}

.li_header {
    margin-right: 20px;
}


.herro {
    justify-content: right;
}

.hero_main {
    width: 1200px;
    margin: 0 auto;
}

#search {
    padding-top: 4px;
    height: 30px;
    width: 200px;
}

#but_search {
    height: 35px;
    font-size: 25px;
    background-color: #505f98;
    color: aliceblue;
}

#cancel {
    height: 35px;
    font-size: 25px;
    background-color: rgb(199, 0, 0);
    color: aliceblue;
}

#bank {
    font-size: 40px;
}

.header_ul {
    display: flex;
    align-items:baseline;
}

.sorted {
    display: flex;
    align-items: center;
}


.delete_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgb(244, 98, 98);
}

.inner {
    color: aliceblue;
}


.card-title {
    display: flex;
    justify-content: center;
}

.inner_butt_edit {
    display: flex;
    justify-content: center;
}

.btn-info {
    width: 100px;
    background-color:#bada55;
    border-radius: 10px;
}

.card-text {
    margin-left: 10px;
}

.item-card {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    margin-bottom: 20px;
}

.items_container {
    display: flex;
    flex-direction: column;
}

#add_bank_butt {
    font-size: 25px;
    color: #505f98;
    background: none;
}

.side_barr {
    visibility: hidden;
    background-color: black;
    position: absolute;
}

.side_barr.active {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    visibility:visible;
    position:absolute;
    left: 600px;
    background-color: #a9afc8;
}


.inner_name {
    display: flex;
    justify-content:center;
}

.name_of_the_bank {
    height: 20px;
}

#add_new_bank {
    background-color: #8dc580;
    width: 120px;
    margin-left: 90px;
    font-size: 20px;
    height: 29px;
}
