.third_text {
    padding-top: 80px;
}

.third_text>.inner_text {
    max-width: 600px;
}

.third_text2 {
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.second_row {
    color: #091133;
    font-size: 1.2rem;
}

.third_row {
    margin-top: 10px;
}

.table_but {
    color: white;
    background: #111B47;
    width: 200px;
    margin-top: 10px;
}

.first_table {
    width: 250px;
}

.bottom_table {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
} 

@media screen and (max-width: 893px) {
    .third_text>.inner_text {
        max-width: 450px;
    }
    .third_text2 {
        margin-top: 20px;
        /* flex-direction: column; */
        justify-content: center;
    }

    .third_text {
        padding-top: 0;
        display: flex;
        justify-content: center;
    }

    table {
        text-align: center;
    }

    .first_table {
        width: 350px;
    }
    

}

@media screen and (max-width: 515px) {
    .third_text {
        padding: 0;
    }
    /* .secont_text {
        padding-top: 0;
        padding: 0;
    } */
}