.catalog_main {
    display: flex;
    flex-direction: column;
}

.catalogDiv {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.card_bank {
    margin-top: 20px;
    margin-right: 10px;
}

.catalog_lov {
    display: flex;
    flex-wrap: wrap;
}

.hr_catalog {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 160px;
    height: 2px;
    background-color: #555;
}

.main_catalog {
    margin: 0 auto;
    max-width: 965px;
}

.select_filter {
    border-color: black;
    height: 40px;
    width: 130px;
    font-size: 20px;
    border-radius: 3%;
    border-width: 2px;
    margin-right: 15px;
}

.catalog_but {
    margin-left: 10px;
    background-color: #fff;
    width: 120px;
    font-size: 20px;
    height: 35px;
}

.second_catalog {
    display: flex;
    justify-content: center;
}

.input_catalog {
    border-width: 2px;
    border-color: black;
    height: 29px;
    font-size: 20px;
    width: 225px;
}